{% extends 'albums/base.html' %}

{% block content %}
  <div class="column">
    <div class="card">
      <header class="card-header">
        <h3 class="card-header-title">
          {{album}}
        </h3>
        <a class="card-header-icon" aria-label="edit" href="{% url "album_delete" album.pk %}">
          <span class="icon">
            <i class="fas fa-solid fa-trash" aria-hidden="true"></i>
          </span>
        </a>
        <a class="card-header-icon" aria-label="edit" href="{% url "album_edit" album.pk %}">
          <span class="icon">
            <i class="fas fa-pen-to-square" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <h4>{{album.artist}}</h4>
          <h5>{{album.genre}}</h5>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}