* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

.card {
  height: 100%;
}

.card-header-title {
  text-overflow: ellipsis;
}

.input,
.select {
  width: 150px;
  display: block;
}

#id_genre {
  height: 40px;
}

form button {
  width: 100px;
}
